@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body{
    background-color: rgb(240, 240, 240);
}
.first{
    margin: 0 auto;
    width:305px;
    height: 250px;
    background-color: hsl(256, 67%, 59%);
    padding: 28px 25px 10px 25px;
    text-align: center;
}
img{
    width: 100%;
}
.pad{
    width:305px;
    margin:25px auto;
    box-sizing: border-box;
    border-radius: 8px;
}
.heading{
    font-family: "DM Sans", serif;
    color:white;
    font-size: 38px;
    font-weight: 500;
    width:210px;
    margin:0 auto ;
    line-height: 1;
}
.five-star{
    margin-top: 28px;
    width:160px;
}
.star{
    font-family: "DM Sans", serif;
    color:white;
    font-size: 17px;
    line-height: 1.3;
    margin: 0;
}
.second{
    height: 150px;
    background-color: white;
    padding: 8px 10px;
}
.fonty{
    font-family: "DM Sans", serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 1;
}
.third{
    height: 200px;
    background-color:hsl(39, 100%, 71%);
    padding: 8px 14px;
    overflow: hidden;
}
.calen{
    width:180px;
}
.fourth{
    height: 400px;
    background-color:hsl(254, 88%, 90%);
    padding: 8px 14px;
}
.forth-para{
    font-family: "DM Sans", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    width: 240px;
    text-align: center;
    margin: 14px auto;
}
.fifth{
    height: 330px;
    background-color:hsl(256, 67%, 59%);
    padding: 19px 14px;
}
.follow{
    display: block;
    width:200px;
    margin: 0 auto;
}
.grow{
    font-size: 26px;
    width:200px;
    color: white;
    text-align: center;
    margin: 34px auto;
}
.sixth{
    height: 180px;
    background-color: white;
    padding: 8px 15px;
}
.six-para{
    font-family: "DM Sans", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    width: 240px;
    margin: 0%;
}
.per{
    font-family: "DM Sans", serif;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
}
.follow-img{
    margin: 15px 0;
    width:160px;
}
.seventh{
    height: 200px;
    background-color: hsl(31, 66%, 93%);
    padding: 8px 26px;
}
.blue{
    color: hsl(256, 67%, 59%);
    font-style: italic;
}
.eight{
    height: 320px;
    background-color: hsl(39, 100%, 71%);
    padding: 8px 20px;
}
.img-sa{
    width:200px;
}
@media(width>650px){
    .griddy{
        display: grid;
        justify-content: center;
        grid-template-columns: 180px 180px 180px;
        grid-template-rows: 200px 200px 200px 200px;
        gap:1.5em;
        grid-template-areas: 
        "box-2 box-1 box-1"
        "box-2 box-4 box-5"
        "box-2 box-6 box-6"
        "box-3 box-3 box-8";
    }
    .seventh{
        height:304px;
        padding:30px 26px;
    }
    .fonty{
        font-size: 24px;
        line-height: 0.9;
    }
    .follow-img{
        width: 100%;
    }
    .img-sa{
        margin-top: 50px;
        width: 100%;
    }
    .first{
        height: 200px;
    }
    .heading{
        width:100%;
    }
    .five-star{
        width: 120px;
    }
    .star{
        font-size: 12px;
        font-weight: 300;
    }
    .fourth{
        height: 200px;
        display: flex;
        flex-wrap: wrap;
    }
    .far{
        width: 150px;
    }
    .forth-para{
        text-align: left;
        width: 50%;
        font-size: 14px;
    }
    .second,.sixth{
        overflow-x: hidden;
        height: 200px;
    }
    .calen{
        width:100%;
    }
    .fifth{
        display: flex;
        height: 200px;
    }
    .follow{
        width: 170px;
    }
    .grow{
        text-align: left;
    }
    .large{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
    .box1{
        width:180px;
        height:324px;
    }
    .pad{
        width:auto;
        margin: 0%;
    }
}
@media(width>991px){
    .griddy{
        grid-template-columns: 180px 180px 180px 180px;
        grid-template-rows: 200px 200px 200px;
        grid-template-areas: 
        "box-2 box-1 box-1 box-3"
        "box-2 box-4 box-5 box-3"
        "box-2 box-8 box-6 box-6";
    }
    .fourth{
        display: block;
        height: 424px;
        overflow-x: hidden;
    }
    .far{
        width: 230px;
    }
    .forth-para{
        width: 100%;
    }
}
